# ==========================================
# Binaries & Tool-Ordner (nicht ins Git)
# ==========================================
FFMpeg/
NVEncC/
*.exe

# ==========================================
# Zielordner & Videodateien
# ==========================================
Result/
Done/
Inbox/
Work
*.mkv
*.mp4
*.ts
*.m2ts
*.avi

# ==========================================
# Temporäre Dateien & VMAF-Logs
# ==========================================
*_sample_peak.mkv
*_test_out.mkv
*.log
*.csv
tests/

# ==========================================
# Betriebssystem & IDE-Müll
# ==========================================
.DS_Store
venv/
Thumbs.db
desktop.ini
.vscode/
.idea/
**/__pycache__/
